In [7]:
import pandas as pd

data = {
    "EMP_ID":[101,102,103,104,105],
    "Name":["Koushik","Fadil","Praveen","Arun","Tarun"],
    "Department":["Mech","Cse","Cse","EEE","Cse"],
    "Salary":[10000,20000,30000,40000,50000]}

df = pd.DataFrame(data)
print(df.info())
df["Bonus"] = df["Salary"] * 0.10
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EMP_ID      5 non-null      int64
 1   Name        5 non-null      object
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

   EMP_ID     Name Department  Salary   Bonus
0     101  Koushik       Mech   10000  1000.0
1     102    Fadil        Cse   20000  2000.0
2     103  Praveen        Cse   30000  3000.0
3     104     Arun        EEE   40000  4000.0
4     105    Tarun        Cse   50000  5000.0

In [4]:
import pandas as pd

marks = [65,70,85,90,55]
students = ['Alice','Bob','Charlie','David','Eve']

marks_series = pd.Series(marks, index = students)
average_marks = marks_series.mean()

filtering = marks_series[marks_series > 75]

print("Student marks:\n", marks_series)
print("\nAverage marks:\n", average_marks)
print("\nStudents more than 75:\n", filtering)

Student marks:
 Alice      65
Bob        70
Charlie    85
David      90
Eve        55
dtype: int64

Average marks:
 73.0

Students more than 75:
 Charlie    85
David      90
dtype: int64