In [6]:
import pandas as pd
df = pd.read_csv("sales.csv")
df.to_csv("exported_sales.csv",index = False)
df

         Date Region Product  Units_Sold  Unit_Price
0  2024-05-01   East  Laptop           5         700
1  2024-05-01   West   Phone          10         300
2  2024-05-02   East  Laptop           6         700
3  2024-05-02   West   Phone           8         300

In [15]:
df = pd.read_excel("employee_data.xlsx")
df.to_excel("new_employee.xlsx",index = True)
print(df)

   Emp_ID     Name Department
0     101    Alice         HR
1     102      Bob    Finance
2     103  Charlie         IT
3     104    David      Sales

In [10]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\praveenp\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\praveenp\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import numpy as np
a = np.arange(20).reshape(4,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [5]:
b = [[1,2],[2,3],[4,5]]
c = [[1,3],[3,2],[5,4]]
d = b+2
print(b)

TypeError: can only concatenate list (not "int") to list